html,
body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

* {
/* border: 1px solid black; */
}

@font-face {
    font-family: "Honey";
    src: url(../fonts/HoneyScript-Light.ttf);
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf);
}

.background {
    background-image: url(../img/background-body.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    font-family: "Honey";
    letter-spacing: 2px !important;
}

.copyright {
    font-family: "Quicksand";
}

